# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/debug.log
wp-content/upgrade/
wp-content/uploads/
wp-content/wflogs/
wp-content/wp-cache-config.php
wp-content/mu-plugins/health-check-troubleshooting-mode.php

# Mac
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db

# SFTP config
.vscode/sftp.json
